/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
@font-face {
    font-family: "VisbyRoundRegular";
    src: url("/fonts/VisbyRound/VisbyRoundCF-Medium.otf");
    font-display: swap;
}

